# build directorys
/build.*/
/builds
/.fakeroot.*

# automatically downloaded source files
/sources/

# prebuild target binarys to provide
/target/

# mkpkg temp
mkpkg-temp

# options
/.libreelec

# private working directory
/.work/

# dedicated filesystem
/lost+found/

# symlinks...
/sources
/.work

# ccache
/.ccache/

# backup files
*.orig

# crap
.DS_Store
.directory

# Windows lixo (muito importante)
*:Zone.Identifier

# arquivos temporários / testes
a.out
test
test.c

# arquivos compactados baixados
*.tar.gz
*.tar.gz.*
*.orig.tar.*

# logs extras
*.log

# editor / sistema
*~

# ignore git repos from update scripts
tools/mkpkg/*.git

# ignore old linux configs
projects/**/*.old

repo/
repo
local.conf
sx05re-kodi*.log

packages/sx05re/experimental/
packages/sx05re/emuelec-emulationstation/api_keys.txt
*/patche/
*/patch2/

# Local dev work
/SDL3-src/
/log.txt
/nv.toml
/gen_nv.sh
/lista_final_atualizacoes.txt
/pacotes_para_atualizar.txt
/relatorio_completo.txt
packages/sx05re/ChatGPT*.png

# Backup files
*.bak
*.originalbak
**/package.bk
**/*.classic.bak/

# pico-8 proprietary binaries (não redistribuível)
packages/sx05re/emulators/pico-8/sources/pico-8/
